.vertical-minus1 {
    vertical-align: -0.05em;
}
.background {
    background: center url("image/bg.jpg") no-repeat;
    background-size: cover;

    min-height: 60vh;
}
.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.3);
}
.progress-label {
    font-size: 0.9em;
    font-weight: 600;
}
.theme-text-light {
    color: #f1f2ed;
}

.theme-text-primary {
    color: #a25442;
}

.theme-text-secondary {
    color: #3a5757;
}

.theme-text-lightyellow {
    color: #abac88;
}

.theme-text-darkyellow {
    color: #ba9058;
}

.theme-bg-light {
    background-color: #f1f2ed;
}

.theme-bg-primary {
    background-color: #a25442;
}

.theme-bg-secondary {
    background-color: #3a5757;
}

.theme-bg-lightyellow {
    background-color: #abac88;
}

.theme-bg-darkyellow {
    background-color: #ba9058;
}
.theme-border-light {
    border-color: #f1f2ed !important;
}
.team-card {
    font-size: 0.9em;
}
.accordion-button:not(.collapsed) {
    background-color: #f1f2ed;
    color: #a25442;
}
/* Selektor :not wybiera wszystkie elementy, które spełniają warunek bycia .accordion-button ale nie posiadają klasy .collapsed – czyli wszystkie rozwinięte elementy akordeonu.*/
.accordion-button {
    font-weight: 600;
}
.image-background-qa {
    background: center url("image/qa.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 30vh;
}
@media screen and (min-width: 768px) {
    .featured-card {
        margin-left: -1px;
        margin-right: -1px;
    }

    .pricing-card.order-md-1 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 20px;
    }

    .pricing-card.order-md-3 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: 20px;
    }
    .pricing-card.card-header {
        padding-top: 20px;
    }
    .featured-card.card-header {
        padding-top: 40px;
    }
}
